@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 550px;
  height: max(550px, auto);
  border:solid #672280;
  border-radius: 5px;
  margin: 35px;

}
.header {
  display: flex;
  align-items: center;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  left: 0px;
  top: 0px;
}

.trollface {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 7px;
}

.title {
  width: 140.79px;
  height: 24px;
  left: 58px;
  top: 21px;

  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;

  color: #FFFFFF;
}

.top-text {
  margin: 36px 17px 17px 17px;
}

.bottom-text {
  margin: 36px 17px 17px 17px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meme-text {
  width: 220px;
  height: 35px;
  border-radius: 5px;
  text-indent: 5px;
  
  font-family: 'Inter', sans-serif;
  
}
.meme-form {
  display: flex;
  flex-direction: column;
}

.meme-gen-button {
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  /* Get a new meme image 🖼 */

  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  align-self: center;
  color: #FFFFFF;
}

.caption {
  color: white;
  font-size: 2em;
  letter-spacing: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  position: absolute;
  max-width: 477px;
  text-align: center;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;

}

.top-caption {
  top: 5px;
}

.bottom-caption {
  bottom: 5px;
}
.meme-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 36px;
}

.meme-image > img {
  max-width: 477px;
  height: auto;
}

.meme {
  display: flex;
  justify-content: center;
  margin: 36px;
  border: 1px dashed #711F8D;
  position: relative;

}